<div class="header-item header-item--hamburger">
  <button class="button button--icon button--plain" data-toggle="offpanel" data-target="header-hamburger-menu">{% render 'icon-hamburger' %}</button>
</div>
