<div class="header-item header-item--search">
  <button class="button button--icon button--plain" data-toggle="offpanel" data-target="search-panel">{% render 'icon-search' %}</button>
  <off-panel id="search-panel" class="offpanel search-panel">
    <div class="offpanel__backdrop"></div>
    <div class="offpanel__panel">
      <div class="page-width">
        <div class="panel-header">
          <h4>{{ 'general.search.search' | t }}</h4>
          <button class="button button--icon button--plain button-close-panel">
            {% render 'icon-close' %}
            <span class="visually-hidden">{{ 'general.close' | t }}</span>
          </button>
        </div>
        <div class="panel-content">
          {% render 'form-search', persist: persist %}
        </div>
      </div>
    </div>
  </off-panel>
</div>