<div class="page-width">
  <button class="button">Button Normal</button><br/>
  <button class="button button--outline">Button Outline</button><br/>
  <button class="button button--underline">Button Underline</button><br/>
  <button class="button button--md">Button Medium</button><br/>
  <button class="button button--lg">Button Large</button><br/>
  <button class="button button--md button--outline">Button Outline Medium</button><br/>
  <button class="button button--lg button--outline">Button Outline Large</button><br/>
  <button class="button button--md button--underline">Button Underline Medium</button><br/>
  <button class="button button--lg button--underline">Button Underline Large</button><br/>
  <div class="input-wrapper">
    <input type="text" id="text" name="text"class="input-text" value="">
    <label for="text">Checkbox</label>
  </div>
  <input type="text" id="text" name="text"class="input-text" placeholder="Text"><button class="button">Button Normal</button><br/><br/>
  <label for="textarea">Checkbox</label>
  {% comment %} <textarea class="input-text" id="textarea" name="textarea" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="100"></textarea><br/> {% endcomment %}
  <input type="checkbox" id="checkbox" class="">
  <label for="checkbox">Checkbox</label><br/><br/>
  <label for="checkbox_inline"><input type="checkbox" id="checkbox_inline" class=""><span>Checkbox Inline</span></label><br/><br/>
  <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">HTML</label><br>
  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="css">CSS</label><br>
  <input type="radio" id="javascript" name="fav_language" value="JavaScript">
  <label for="javascript">JavaScript</label>
</div>

<section class="color-red">