{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- if predictive_search.performed -%}
  <div id="predictive-search-results" class="predictive-search-results">
    {%- if predictive_search.resources.products.size > 0 -%}
      <ul id="predictive-search-results-list" class="predictive-search__results-list list-unstyled" role="listbox" aria-labelledby="predictive-search-products">
        {%- for product in predictive_search.resources.products limit: 5 -%}
          <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" aria-selected="false">
            {% render 'card-product-search',
              product: product,
              media_aspect_ratio: 'adapt'
            %}
          </li>
        {%- endfor -%}
      </ul>
      {%- if predictive_search.resources.products.size > 5 -%}
        <div class="predictive-search__item-button">
          <button class="predictive-search__button predictive-search__item--term button button--md" tabindex="-1">
            View
          </button>
        </div>
      {%- endif -%}
    {%- else -%}
      <p class="predictive-search-results-message">
        {{ 'templates.search.no_results' | t }}
      </p>
    {%- endif -%}
  </div>

  <span class="hidden" data-predictive-search-live-region-count-value>
    {%- if search.results_count == 0 -%}
      {{ 'templates.search.no_results' | t }}
    {%- else -%}
      {{ 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size }}
    {%- endif -%}
  </span>

  <div class="predictive-search__loading-state">
    <span class="loader">
      {% render 'icon-loading' %}
    </span>
  </div>
{%- endif -%}
