.button {
  font-size: var(--buttons-font-size);
  font-weight: var(--buttons-font-weight);
  color: rgb(var(--color-button-text));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: var(--buttons-min-height);
  border: none;
  padding: var(--buttons-padding-vertical) var(--buttons-padding-horizontal);
  border-radius: var(--buttons-radius);
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: rgba(var(--color-button), var(--color-button-opacity));
  box-shadow: inset 0 0 0 var(--buttons-border-width) rgba(var(--buttons-border-color), var(--buttons-border-opacity));
}

.button--md {
  --buttons-padding-horizontal: 3.125rem;
  --buttons-min-height: 3.75em;
}

.button--lg {
  --buttons-padding-horizontal: var(--base-spacing--3xl);
  --buttons-min-height: 4.375em;
}

.button:not(.button--outline):not(.button--underline):not(.button--icon) {
  --color-button-opacity: 1;
}

.button--outline,
.button--underline,
.button--icon {
  --color-button: var(--color-secondary-button);
  --color-button-text: var(--color-secondary-button-text);
}

.button--underline {
  --buttons-border-opacity: 0;
  --buttons-padding-vertical: 0.313rem;
  --buttons-padding-horizontal: 0;
  --buttons-min-height: auto;
}

.button--underline::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border: none;
  border-bottom: var(--buttons-border-width) solid;
  transition: all .5s;
}

.button--underline.button--md {
  --buttons-font-size: var(--base-size--lg);
}

.button--underline.button--lg {
  --buttons-font-size: var(--base-size--xl);
}

.button--icon {
  --buttons-padding-vertical: 0.75rem;
  --buttons-padding-horizontal: 0.75rem;
  --buttons-min-height: auto;
}

.button--plain {
  --buttons-border-opacity: 0;
  --color-button: var(--color-secondary-button);
  --color-button-text: var(--color-secondary-button-text);
}

/* component-text-field */
.input-text {
  color: rgb(var(--inputs-text-color));
  font-size: var(--inputs-font-size);
  line-height: var(--inputs-line-height);
  border: none;
  border: var(--inputs-border-width) solid rgba(var(--color-input-border), var(--inputs-border-opacity));
  border-radius: var(--inputs-radius);
  padding: var(--inputs-padding);
  outline: none;
  transition: 0.5s;
}

.input-text:focus {
  --inputs-border-opacity: 1;
}

@media (min-width: 750px) {
  :root {
    --inputs-font-size: var(--base-size--sm);
  }
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-wrapper .input-text {
  order: 2;
}

.input-wrapper label {
  order: 1;
}

.input-wrapper .input-text:not([placeholder]) + label,
.input-wrapper .input-text:not([value=""]) + label {
  margin-bottom: var(--base-size--base);
}

/* component search */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* component checkbox */
input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 0.688rem 0 0;
}

input[type="checkbox"] + label,
input[type="checkbox"] + span,
input[type="radio"] + label,
input[type="radio"] + span {
  vertical-align: 0.375rem;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
}

input[type="checkbox"]::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: var(--checkbox-border-width) solid rgba(var(--color-input-border), 0);
  border-radius: min(var(--inputs-radius), 0.5rem);
  background-color: rgba(var(--color-input-border), var(--inputs-border-opacity));
  transition: all 0.5s;
}

input[type="checkbox"]::after {
  content: '';
  position: absolute;
  border-left: 0.125rem solid rgba(var(--color-input-border), var(--inputs-border-opacity));
  border-bottom: 0.125rem solid rgba(var(--color-input-border), var(--inputs-border-opacity));
  width: 0.75rem;
  height: 0.375rem;
  left: 0.375rem;
  top: 0.438rem;
  transform: rotate(-45deg);
  border-top-color: transparent;
  border-right-color: transparent;
  opacity: 0;
  transition: all 0.3s;
}

input[type="checkbox"]:checked::before {
  --inputs-border-opacity: 0;
  border-color: rgba(var(--color-input-border), 1);
}

input[type="checkbox"]:checked::after {
  --inputs-border-opacity: 1;
  opacity: 1;
}

/* component radio */
input[type="radio"] {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  background-color: rgba(var(--color-input-border), var(--inputs-border-opacity));
  border: var(--checkbox-border-width) solid rgba(var(--color-input-border), 0);
  border-radius: 999em;
  cursor: pointer;
}

input[type="radio"]::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(var(--color-input-border), 1);
  border-radius: 999em;
  transform: scale(0.5);
  transition: all 0.5s;
  opacity: 0;
}

input[type="radio"]:checked {
  --inputs-border-opacity: 0;
  border-color: rgba(var(--color-input-border), 1);
}

input[type="radio"]:checked::after {
  opacity: 1;
}

label {
  color: rgb(var(--inputs-text-color));
  font-size: var(--inputs-label-font-size);
}