.header-menu {
  display: flex;
  height: 100%;
  align-items: center;
  min-height: inherit;
}

.header-menu__menu {
  display: flex;
  height: 100%;
  align-items: center;
  gap: var(--base-spacing--2xl);
  min-height: inherit;
}

.header-menu__item-top {
  min-height: inherit;
}

.header-menu__link {
  text-transform: uppercase;
  position: relative;
  display: block;
  color: rgb(var(--color-heading));
}

.header-menu__link {
  font-weight: var(--font-heading-weight);
  font-style: var(--font-heading-style);
  display: flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-size: var(--base-size--base);
}

.list-menu li {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menu__submenu {
  min-width: 166px;
  padding: 30px 0;
  top: 100%;
  left: -40px;
  z-index: 100;
  background-color: rgb(var(--color-background));
}

.list-menu__submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 7px 0 rgba(27,36,34,.1);
  top: 100%;
  left: calc(var(--base-spacing--2xl) / 2 * -1);
  padding: 20px 0;
  min-width: 166px;
  z-index: 99;
  background-color: rgb(var(--color-background));
  white-space: nowrap;
  transition: 0.5s;
  transform: translateY(10px);
}

.list-menu__submenu::after {
  content: "";
  position: absolute;
  height: 18px;
  width: 20px;
  top: -5px;
  left: calc(var(--base-spacing--2xl) / 2);
  opacity: 1;
  z-index: -1;
  background-color: rgb(var(--color-background));
  transform: rotate(60deg) skewX(30deg);
}

.list-menu__item:hover > .list-menu__submenu {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.header-menu__item--child {
  display: block;
  margin: 0;
  padding: 10px 40px;
  transition: 0.3s;
}

.header-menu__item--child:hover {
  background-color: rgb(var(--color-button));
}

.list-menu li.header-menu__item--child:hover>a {
  color: rgb(var(--color-background));
}

.header-menu__submenu .header-menu__submenu {
  top: -20px;
  left: calc(100% + 3px);
}

.header-menu__submenu .header-menu__submenu:before {
  top: 0;
  left: -3px;
  height: 100%;
  width: 3px;
  position: absolute;
  content: "";
}