.card-product__media {
  margin-bottom: var(--base-size--lg);
  overflow: hidden;
  width: 210px;
  height: 253px;
}

.card-product__media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-product__badge {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;
}

.predictive-search__item-content {
  text-align: center;
}

.predictive-search__item-vendor {
  font-size: var(--base-size--xs);
}

.predictive-search__item-heading {
  font-size: var(--base-size--sm);
  color: rgb(var(--color-heading));
  text-align: center;
  font-weight: var(--font-body-weight);
  margin: 0.5rem 0;
}

.price__regular {
  color: #1e1e23;
}
