.mobile-menu-panel .offpanel__panel {
  width: 85%;
  display: flex;
  flex-direction: column;
  padding: var(--base-spacing--md);
  overflow-y: auto;
}

.mobile-menu-panel .offpanel-inner__top {
  background-color: rgba(var(--color-foreground), 0.1);
  display: flex;
  padding: var(--base-spacing--xs) 0.5rem;
  margin: calc(var(--base-spacing--md) * -1) calc(var(--base-spacing--md) * -1) 0;
}

.mobile-menu-panel .localization-selector {
  font-size: var(--base-size--xs);
  font-weight: 400;
  flex: 1 0 50%;
}

.mobile-menu-panel .localization-form__selector {
  --buttons-font-size: var(--base-size--base);
  width: 100%;
  justify-content: space-between;
}

.mobile-menu-panel .localization-form__selector .button__text {
  font-weight: 600;
}

.mobile-menu-panel .localization-form__selector .caret {
  color: rgb(var(--color-foreground));
  border-top-width: 6px;
  border-left-width: 6px;
  border-right-width: 6px;
}

.mobile-menu-panel .localization__list-wrapper .localization__list {
  width: calc( 100% - 1rem );
  left: 0.5rem;
  top: calc( 100% + var(--base-spacing--xs) );
}

.mobile-menu-panel .mobile-menu {
	flex: 1;
}

.mobile-menu-panel .search-panel__form {
	margin: var(--base-spacing--xxs) 0 var(--base-spacing--lg);
}

.mobile-menu-panel .search-fields {
	position: relative;
	padding: var(--base-spacing--xs) 0;
  border-bottom: var(--inputs-border-width) solid rgba(var(--color-input-border), var(--inputs-border-opacity));
  transition: 0.5s;
}

.mobile-menu-panel .search-fields .button {
	box-shadow: none;
	text-shadow: none;
	position: absolute;
	border: 0;
	padding: 0;
	background: transparent;
}

.mobile-menu-panel .search-fields button svg {
	fill: rgba(var(--inputs-text-color), 0.5);
  transition: 0.5s;
}

.mobile-menu-panel .search-fields button:hover svg {
	fill: rgb(var(--inputs-text-color));
}

.mobile-menu-panel .search-fields:hover {
	--inputs-border-opacity: 1;
}

.mobile-menu-panel .search-fields:hover button svg {
	fill: rgb(var(--inputs-text-color));
}

.mobile-menu-panel .search-input {
	font-size: var(--base-size--sm);
	width: 100%;
	border: 0;
	padding: 0;
}

.mobile-menu-panel ::-webkit-input-placeholder {
	color: rgba(var(--inputs-text-color), 0.5);
}

.mobile-menu-panel .search-submit {
	right: 0;
	top: 15px;
}

.mobile-menu-panel .offpanel-inner__bottom ul {
	margin-bottom: calc(var(--base-spacing--md) * -1);
}

.mobile-menu-panel .offpanel-inner__bottom ul {
	display: flex;
  flex-direction: column;
}

.mobile-menu-panel .offpanel-inner__bottom ul li {
  border-top: 1px solid rgba(var(--color-input-border), var(--inputs-border-opacity));
}

.mobile-menu-panel .offpanel-inner__bottom ul li a {
  --buttons-padding-vertical: 1.0625rem;
  --buttons-padding-horizontal: 0;
  font-size: var(--base-size--base);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
}

.mobile-menu-panel .offpanel-inner__bottom ul li a svg {
  margin-right: var(--base-spacing--sm);
  min-width: 1.25em;
}