.search-modal.open .search-fields {
	transform: translateY(0);
	opacity: 1;
}

.search-modal .modal-content {
  transition: none;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  width: 100%;
}

.search-modal .search-fields {
	transition: transform 0.5s ease 0.6s, opacity 0.5s ease 0.6s, border 0.5s;
	transform: translateY(var(--global-spacing--2xl));
	position: relative;
	padding: var(--global-spacing--xs) var(--global-spacing--2xl);
  border-bottom: var(--inputs-border-width) solid rgba(var(--color-input-border), var(--inputs-border-opacity));
	opacity: 0;
}

.search-modal .search-fields .button {
	box-shadow: none;
	text-shadow: none;
	position: absolute;
	border: 0;
	padding: 0;
	background: transparent;
}

.search-modal .search-fields button svg {
	fill: rgba(var(--inputs-text-color), 0.5);
  transition: 0.5s;
}

.search-modal .search-fields button:hover svg {
	fill: rgb(var(--inputs-text-color));
}

.search-modal .search-fields:hover {
	--inputs-border-opacity: 1;
}

.search-modal .search-fields:hover button svg {
	fill: rgb(var(--inputs-text-color));
}

.search-modal .search-input {
	font-size: var(--global-size--base);
	width: 100%;
	border: 0;
	padding: 0;
}

.search-modal ::-webkit-input-placeholder {
	color: rgba(var(--inputs-text-color), 0.5);
}

.search-modal .search-submit {
	left: 10px;
	top: 15px;
}